@model ExploreCalifornia.Models.Entry

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
@ViewBag.Id
<div>
    <h4>Entry</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EntryTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EntryTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.entryDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.entryDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EntryID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
